service_04_soap_client/src/zyr/learn/service/ms.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.learn.zyr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.learn.zyr/" name="MyServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.learn.zyr/" schemaLocation="http://192.168.199.178:9999/ms?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="list">
<part name="parameters" element="tns:list"></part>
<part name="authInfo" element="tns:authInfo"></part>
</message>
<message name="listResponse">
<part name="result" element="tns:listResponse"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"></part>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"></part>
</message>
<portType name="IMyService">
<operation name="add">
<input wsam:Action="http://server.learn.zyr/IMyService/addRequest" message="tns:add"></input>
<output wsam:Action="http://server.learn.zyr/IMyService/addResponse" message="tns:addResponse"></output>
</operation>
<operation name="list" parameterOrder="parameters authInfo">
<input wsam:Action="http://server.learn.zyr/IMyService/listRequest" message="tns:list"></input>
<output wsam:Action="http://server.learn.zyr/IMyService/listResponse" message="tns:listResponse"></output>
</operation>
<operation name="login">
<input wsam:Action="http://server.learn.zyr/IMyService/loginRequest" message="tns:login"></input>
<output wsam:Action="http://server.learn.zyr/IMyService/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="addUser">
<input wsam:Action="http://server.learn.zyr/IMyService/addUserRequest" message="tns:addUser"></input>
<output wsam:Action="http://server.learn.zyr/IMyService/addUserResponse" message="tns:addUserResponse"></output>
</operation>
</portType>
<binding name="MyServicePortBinding" type="tns:IMyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="list">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:list" part="authInfo" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="MyServiceService">
<port name="MyServicePort" binding="tns:MyServicePortBinding">
<soap:address location="http://192.168.199.178:9999/ms"></soap:address>
</port>
</service>
</definitions>